@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    color: #5A6F80;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -2px;
}

h2 {
    color: #5A6F80;
    font-size: 46px;
    line-height: 55px;
    letter-spacing: -2px;
    font-weight: 600;
}

h3 {
    color: #5BC1AC;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -1px;
}

p {
    color: #717275;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

ul {
    list-style-type: none;
}

ul li {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #717275;
}

.section-2 ul li:before {
    display: inline-block;
    content: url("../images/marker.svg");
    height: 24px;
    width: 24px;
    background-color: #F0F8FF;
    border-radius: 50%;
    transform: translateY(4px);
}

body {
    font-family: Inter, sans-serif;
}

[class ^="section"] {
    padding: 100px 0;
}

.container {
    width: 68.75%;
}

.website-header .upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 49px;
    background-color: #5BC1AC;
    padding: 0 15.625%;
}

.website-header .upper-header a {
    color: white;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}

.website-header .upper-header div {
    display: flex;
    column-gap: 14px;
}

.website-header .lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: white;
    padding: 0 15.625%;
}

.logotype {
    height: 80px;
    width: 80px;
}

.website-header .lower-header > div:first-child {
    display: flex;
    align-items: center;
}

.website-header .lower-header .part-logo {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.website-header .lower-header .part-logo a:first-child {
    font-size: 22px;
    font-weight: 700;
    color: #5BC1AC;
    line-height: 33px;
}

.website-header .lower-header .part-logo a:last-child {
    font-size: 10px;
    font-weight: 700;
    color: #5A6F80;
}

.website-header .lower-header > div:last-child {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.website-header .lower-header > div:last-child a {
    color: #717275;
    font-size: 16px;
    line-height: 24px;
}

.website-header .lower-header div:last-child .checked {
    color: #5BC1AC;
}

.website-header .lower-header div:last-child .donate-btn {
    display: inline-block;
    height: 44px;
    width: 110px;
    color: #597081;
    line-height: 44px;
    text-align: center;
    border: 2px solid #597081;
    border-radius: 22px;
}

.hero-section {
    position: relative;
    height: calc(100dvh - 139px);
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-section h1,
.hero-section p {
    position: absolute;
    right: 40px;
}

.hero-section h1 {
    bottom: 70px;
}

.hero-section p {
    bottom: 40px;
}

.hero-section:before {
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    border-bottom: calc(80dvh - 139px) solid white;
    border-left: 550px solid transparent;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 .container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.section-1 h2 {
    text-align: center;
}

.section-1 .container .wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
}

.section-1 .container .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: calc(25% - 25px * 3 / 4);
}

.section-1 .container .wrap .picture {
    width: 128px;
    aspect-ratio: 1 / 1;
    background-image: url(../images/sprite.svg);
    background-size: 645px;
    background-repeat: no-repeat;
}

.section-1 .container .wrap:nth-child(2) .picture {
    background-position-x: -172px;
}

.section-1 .container .wrap:nth-child(3) .picture {
    background-position-x: -344px;
}

.section-1 .container .wrap:nth-child(4) .picture {
    background-position-x: -518px;
}

.section-1 .container p {
    color: #5BC1AC;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

b {
    font-weight: 700;
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F8FF;
}

.section-2 .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section-2 .container > * {
    width: calc(50% - 20px);
}

.section-2 .image-container {
    
    border-radius: 20px;
    overflow: hidden;
}

.section-2 .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.section-2 .container .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section-2 .container .wrapper .wrap {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

.section-2 .container .wrapper .wrap > :not(*:last-child) {
    margin-bottom: 8px;
}

.section-2 .container .wrapper > :not(:first-child) {
    width: calc(50% - 20px);
}

.section-2 .statistic-text {
    color: #5BC1AC;
    font-weight: 700;
    font-size: 52px;
}

.section-2 .additional-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #5A6F80;
}

.section-2 .wrapper .wrap:last-child .additional-text:nth-child(2) {
    margin-bottom: 24px;
}

.section-3 {
    display: flex;
    justify-content: center;
}

.section-3 .container {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

.section-3 .image-container {
    height: 400px;
    width: 350px;
    overflow: hidden;
    box-shadow: 0 16px 48px #0000002D;
    border-radius: 20px;
}

.section-3 .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.section-3 .wrap {
    width: 444px;
}

.section-3 .wrap > :nth-child(n+2) {
    margin-bottom: 24px;
}

.section-3 .link {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #44525D;
    color: white;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

.section-4 {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #F0F8FF;
    overflow: hidden;
}

.section-4:before,
.section-4:after {
    display: block;
    position: absolute;
    content: "";
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.section-4:before {
    top: -100px;
    left: -30px;
    width: 200px;
    background-color: #5BC1AC;
}

.section-4:after {
    bottom: -100px;
    left: 46%;
    width: 150px;
    border: 20px solid #597081;
}

.section-4 .container {
    display: flex;
    justify-content: space-between;
}

.section-4 a:not(.btn) {
    color: #717275;
}

.btn {
    display: inline-block;
    height: 52px;
    font-size: 18px;
    font-weight: 400;
    line-height: 52px;
    color: white;
    background-color: #5A6F80;
    border-radius: 26px;
    padding: 0 20px;
    margin-left: 20px;
}

.section-5 {
    display: flex;
    justify-content: center;
}

.section-5 .container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.section-5 h2 {
    text-align: center;
}

.section-5 .container .wrapper {
    display: flex;
    align-items: start;
    gap: 20px;
}

.section-5 .container .wrap {
    width: calc(100% / 3 - 40px / 3);
    border-radius: 20px;
    overflow: hidden;
}

.section-5 .container .wrap > h3,
.section-5 .container .wrap > p,
.section-5 .container .wrap > progress,
.section-5 .container .wrap > div {
    width: calc(100% - 40px);
    margin: 0 20px;
}

.section-5 .container .wrap > :not(:last-child) {
    margin-bottom: 20px;
}

.section-5 .container .wrap img {
    width: 100%;
}

.section-5 .container .wrap progress {
    height: 5px;
    background-color: #E9EAEB;
    border: none;
    border-radius: 2.5px;
}

.section-5 .container .wrap progress::-webkit-progress-bar {
    background-color: #E9EAEB;
    border-radius: 2.5px;
}

.section-5 .container .wrap progress::-webkit-progress-value {
    background-color: #5A6F80;
    border-radius: 2.5px;
}

.section-5 .container .wrap progress::-moz-progress-bar {
    background-color: #5A6F80;
}

.section-5 .container .wrap .result {
    display: flex;
    justify-content: space-between;
}

.section-5 .container .wrap .card-btn {
    display: inline-block;
    height: 52px;
    width: 100%;
    background-color: #5A6F80;
    color: white;
    text-align: center;
    line-height: 52px;
    font-size: 18px;
}

.section-6 {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #5A6F80;
    overflow: hidden;
}

.section-6 .container {
    display: flex;
}

.section-6 .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 50%;
}

.section-6 h2 {
    color: white;
}

.section-6 form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
}

.section-6 label {
    width: 100%;
}

.section-6 h3 {
    color: black;
}

.section-6 input[type=text],
.section-6 textarea {
    background-color: #F0F8FF;
    border-radius: 6px;
    border: none;
    padding: 10px;
}

.section-6 input[type=text] {
    height: 50px;
    width: calc(50% - 10px);
}

.section-6 textarea {
    resize: none;
    height: 98px;
    width: 100%;
}

.section-6 input[type=submit] {
    height: 50px;
    width: 100%;
    background-color: #597081;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.section-6 .wrap:last-child img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.section-6 h3 {
    width: calc(100% * 2 / 3);
    font-size: 28px;
    color: white;
    text-align: center;
}

.section-6 .wrap:last-child p {
    width: calc(100% * 2 / 3);
    color: white;
    line-height: 27px;
    text-align: center;
}

.section-6:after {
    display: block;
    position: absolute;
    content: "";
    bottom: -110px;
    right: -80px;
    height: 450px;
    width: 450px;
    background-color: #5BC1AC;
    border-radius: 50%;
}

.section-7 {
    display: flex;
    justify-content: center;
}

.section-7 .container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.section-7 h2 {
    width: 100%;
}

.section-7 .container .wrapper:nth-child(2) {
    width: calc(58% - 30px);
}

.section-7 .container .wrapper:nth-child(3) {
    width: calc(42% - 30px);
}

.section-7 .container .wrapper:nth-child(2) .wrap > * {
    margin-bottom: 20px;
}

.section-7 .container .wrapper:nth-child(2) figure {
    border-radius: 20px;
    overflow: hidden;
}

.section-7 .container .wrapper:nth-child(2) figcaption {
    height: 44px;
    line-height: 44px;
    background-color: #5A6F80;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 20px;
    margin-top: -6px;
}

.section-7 .container .wrapper:nth-child(2) img {
    width: 100%;
}

.section-7 .container .wrapper:nth-child(2) .details {
    display: flex;
    column-gap: 40px;
}

.section-7 .container .wrapper:nth-child(2) .details i {
    color: #5A6F80;
}

.section-7 .container .wrapper:nth-child(2) h3 {
    color: black;
}

.section-7 .container .wrapper:nth-child(2) .wrap > p {
    margin-bottom: 50px;
}

.section-7 .container .wrapper:nth-child(3) input[type=search] {
    height: 50px;
    width: 100%;
    background-color: #F0F8FF;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
}

.section-7 .container .wrapper:nth-child(3) h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.section-7 .container .wrapper:nth-child(3) > div {
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
}

.section-7 .container .wrapper:nth-child(3) img {
    width: 150px;
    border-radius: 10px;
}

.section-7 .container .wrapper:nth-child(3) p {
    margin-bottom: 10px;
    margin-right: 10px;
}

.section-7 .container .wrapper:nth-child(3) .number {
    display: inline-block;
    height: 16px;
    background-color: #5A6F80;
    color: white;
    font-size: 10px;
    line-height: 16px;
    border-radius: 8px;
    padding: 0 5px;
}

.section-7 .container .wrapper:nth-child(3) .tag {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    border: 1px solid #E9EAEB;
    border-radius: 20px;
    padding: 0 15px;
}

.section-7 form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #F0F8FF;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
}

.section-7 label {
    width: 100%;
}

.section-7 .container .wrapper:nth-child(3) form h3 {
    margin: 0;
}

.section-7 input[type=email] {
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    border: none;
    padding: 0 10px;
}

.section-7 input[type=submit] {
    height: 50px;
    width: 100%;
    background-color: #597081;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.section-8 {
    display: flex;
    justify-content: center;
    background-color: #F0F8FF;
}

.section-8 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section-8 p {
    font-size: 28px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -1%;
    color: black;
    text-align: center;
    margin-top: 20px;
}

.section-8 .employee-info {
    height: 34px;
    background-color: #5BC1AC;
    line-height: 34px;
    border-radius: 20px;
    padding: 0 20px;
    color: white;
}

.section-8 ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.section-8 ul li {
    display: block;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    opacity: .5;
}

.section-8 ul li.employee-selected {
    opacity: 1;
}

.section-8 ul li:first-child {
    background-image: url(../images/person_3.jpg);
}

.section-8 ul li:nth-child(2) {
    background-image: url(../images/person_4.jpg);
}

.section-8 ul li:nth-child(3) {
    background-image: url(../images/person_5.jpg);
}

.section-8 ul li:last-child {
    background-image: url(../images/person_6.jpg);
}

.container-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 68.75%;
    margin: 0 auto;
}

.container-section section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: calc(50% - 20px);
}

.container-section section .employee {
    display: flex;
    column-gap: 20px;
    border-bottom: 1px solid #0000000D;
    padding-bottom: 40px;
}

.container-section section .employee img {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.container-section section a:not(.btn) {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #717275;
}

.container-section section .btn {
    margin: 10px 0px 0px;
}

.section-10 form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #F0F8FF;
    border-radius: 20px;
    padding: 30px;
}

.section-10 label {
    width: 100%;
}

.section-10 input[type=text],
.section-10 textarea {
    background-color: white;
    border-radius: 6px;
    border: none;
    padding: 10px;
}

.section-10 input[type=text] {
    height: 50px;
    width: calc(50% - 10px);
}

.section-10 input[type=text]:nth-child(5) {
    width: 100%;
}

.section-10 textarea {
    resize: none;
    height: 98px;
    width: 100%;
}

.section-10 input[type=submit] {
    height: 50px;
    width: 100%;
    background-color: #597081;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.website-footer .upper-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 100px;
    background-color: #44525D;
    padding: 100px 15.625%;
}

.website-footer .upper-footer > div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
}

.website-footer .upper-footer h3 {
    width: 100%;
    margin-bottom: 20px;
}

.website-footer .upper-footer > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    width: calc(50% - 50px);
}

.website-footer .upper-footer > div:last-child {
    display: flex;
    flex-direction: column;
}

.website-footer .upper-footer a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    margin-bottom: 10px;
}

.website-footer .lower-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    background-color: #5A6F80;
    padding: 0 15.625%;
}

.website-footer .lower-footer p {
    color: #F0F8FF;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}

.website-footer .lower-footer div {
    display: flex;
    column-gap: 14px;
}

.website-footer .lower-footer a {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #44525D;
    color: white;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}